.image {
    mask: url(../assets/other-assets/blob-haikei.png) no-repeat center / cover;
    background-image: url(../assets/other-assets/fotoperfilrectangular.jpg);
    background-size: contain;
    background-position: center;
}